
body {

  background-image: url(../imagenes/fondoBellaMaria.png);

  background-position: center center;
  background-repeat: no-repeat;

  background-attachment: fixed;


  background-size: cover;

  background-color: #464646;

}

.borrarMensaje{
  display: none;
}

.navbar-superior{
 background-color: rgba(0, 102, 0, 1);
}
.imagenPanel {
width: 95%;
height: 350px;
}

.styleBellaMAria{
  background-color: #006600 !important;
  color:#ffcc00 !important;
  font-weight: bold;
}

.titulo-responsive{
font-size:20px;
color: #006600;
font-weight: bold;
}

.tituloMod-responsive{
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 1285px) {
.navbar-superior .navbar-nav > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  font-size:85%;
  font-weight: bold;
}
}
@media (max-width: 1175px) {
.navbar-superior .navbar-nav > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  font-size:70%;
  font-weight: bold;
}
}
@media (max-width: 1065px) {
.navbar-superior .navbar-nav > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  font-size:50%;
  font-weight: bold;
}
.navbar-superior .navbar-nav > li {
height: 50px;
}
}
@media (max-width: 1064px) {
.navbar-superior .navbar-nav > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  font-size:100%;
  font-weight: bold;
}
.navbar-superior .navbar-nav > li {
height: 50px;
}
}


@media (max-width: 485px) {
.btn-responsive {
padding:2px 4px;
font-size:50%;
line-height: 1;
border-radius:3px;
}
.txt-responsive{
font-size:5px;
}
.titulo-responsive{
font-size:6px;
color: #006600;
font-weight: bold;
}
.imagenPanel {
width: 95%;
height: 110px;
}
.carousel-indicators {
bottom: -10px;
}
.carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 13px;
  height: 13px;
  border-radius: 10px;
}
.tituloMod-responsive{
  font-size: 14px;
  font-weight: bold;
}

}
  
@media (max-width: 750px){
#secundarioColNot{
  display: none;
}
#principalColMod{
  width: 95% !important;
}
}

@media (min-width: 486px) and (max-width: 768px){
.btn-responsive {
padding:2px 4px;
font-size:75%;
line-height: 1;
border-radius:3px;
}
.txt-responsive{
font-size:9px;
}
.titulo-responsive{
font-size:11px;
color: #006600;
font-weight: bold;
}
.imagenPanel {
width: 95%;
height: 210px;
}
.tituloMod-responsive{
  font-size: 14px;
  font-weight: bold;
}


}


@media (min-width: 769px) and (max-width: 992px) {
.btn-responsive {
padding:4px 9px;
font-size:90%;
line-height: 1.2;
}
.txt-responsive{
font-size:13px;
}
.titulo-responsive{
font-size:15px;
color: #006600;
font-weight: bold;
}
}

.margeMenuNoticias{
  padding-top: 9px;
}

.navbar-superior .navbar-nav > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  color: #ffcc00;
  font-weight: bold;
  font-size:95%;
  /*color de letras del li del navbar*/
}
.margen-tope-nav{
margin-top: 10px;
margin-bottom: 10px
}
.margen-tope-buscar{
margin-top: 15px;
}
.margenBuscar{
margin-right: 20px;	
}
.distanciaFilas{
margin-top: 10px;
}
.margenNoticias{
margin-right: 4%;
margin-left: 4%;
background-color: #fff;
}
.margenNoticiasMod{
margin-right: 1%;
margin-left: 4%;
}
.margenNoticiasModTxt{
margin-right: 2%;
margin-left: 2%;
}
.sizeDescripcion{
height: 400px;
width: 120%;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
width: 100%;
height: 400px;
}
.separador{
	margin-right: 2%;
}
.separadorFecha{
  margin-left: 2%;
}
.margenLogo{
  margin-left: 8%;
}
#contenido #principal {
  float: left;
  width: 60%;
}
#contenido #secundario {
  float: left;
  width: 30%;
}

#contenido #principalColMod {
  float: left;
  width: 80%;
}
#contenido #secundarioColNot {
  float: left;
  width: 20%;
}

#contenido #principalMod {
  float: left;
  width: 60%;
}
#contenido #secundarioMod {
  float: left;
  width: 35%;
}


#LimpiarLayut {
  clear: both;
}
.margenLinea{
margin-left: 3%;
margin-right: 3%;
}
h1.big-bold {
  font-family: 'basic Sans sf', arial, helvetica, sans-serif;
  font-size: 2.1em;
  color: #006600;
    font-weight: bold;
}
.menuAdmin{
margin-left: 1%;
width: 15%;
height: 20%;
 background-color: rgba(0, 102, 0, 0.9);
}

.fotoPerfil{
height: 150px;
border: 1px solid #000;
margin: 10px 5px 0 0;
}

.fotoModulo{
align-items: center;
height: 250px;
border: 2px solid #e6e6e6;
margin: 10px 5px 0 0;
}

.nav-header > li > a,
.nav-il > li > a {
  color: #fff;
  font-weight: bold;
  /*color de letras del li del navbar*/
}

.navbar-superior .navbar-brand:focus,
.navbar-superior .navbar-brand:hover{
  color:#fff;
  background-color:transparent;
}

.navbar-superior .navbar-text{
  color:#9d9d9d;
}

.navbar-superior .navbar-nav>li>a:focus,
.navbar-superior .navbar-nav>li>a:hover{
color:#fff;
background-color:#006600;

}
/*color de recuadros de li*/
.navbar-superior .navbar-nav>.active>a,
.navbar-superior .navbar-nav>.active>a:focus{
color:#006600;
background-color:#ffcc00;

}

/*iluminacion en la seleccion*/
.navbar-superior .navbar-nav>.active>a:hover{
color:#fff;
background-color:#A9BC00;
}


.navbar-superior .navbar-nav>.disabled>a,
.navbar-superior .navbar-nav>.disabled>a:focus,
.navbar-superior .navbar-nav>.disabled>a:hover{
color:#000;
background-color:transparent;
}

.navbar-superior .navbar-toggle{
border-color:#ffcc00;
background-color:#ffcc00;
}

.navbar-superior .navbar-toggle:focus,
.navbar-superior .navbar-toggle:hover{
background-color:#A9BC00;
border-color:#A9BC00;
}

.navbar-superior .navbar-toggle .icon-bar{
background-color:#fff
}

.navbar-superior .navbar-collapse,
.navbar-superior .navbar-form{
border-color:#101010
}

.navbar-superior .navbar-nav>.open>a,
.navbar-superior .navbar-nav>.open>a:focus,
.navbar-superior .navbar-nav>.open>a:hover{
color:#fff;
background-color:#A9BC00;
}


.navbar-superior .navbar-nav .open .dropdown-menu>.dropdown-header{
border-color:#A9BC00;
}
.navbar-superior .navbar-nav .open .dropdown-menu .divider{
background-color:#A9BC00;
}
.navbar-superior .navbar-nav .open .dropdown-menu>li>a{
color:#A9BC00;
}

.navbar-superior .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-superior .navbar-nav .open .dropdown-menu>li>a:hover{
color:#A9BC00;
background-color:#A9BC00;
}
.navbar-superior .navbar-nav .open .dropdown-menu>.active>a,
.navbar-superior .navbar-nav .open .dropdown-menu>.active>a:focus{
color:#fff;
background-color:#A9BC00;
font-weight: bold;
}
.navbar-superior .navbar-nav .open .dropdown-menu>.active>a:hover{
color:#fff;
background-color:#006600;
}
.navbar-superior .navbar-nav .open .dropdown-menu>.disabled>a,
.navbar-superior .navbar-nav .open .dropdown-menu>.disabled>a:focus,
.navbar-superior .navbar-nav .open .dropdown-menu>.disabled>a:hover{
color:#A9BC00;
background-color:#A9BC00;
}

.navbar-superior .navbar-link{
color:#9d9d9d;
}
.navbar-superior.navbar-link:hover{
color:#fff;
}
.navbar-superior .btn-link{
color:#9d9d9d;
}
.navbar-superior .btn-link:focus,
.navbar-superior .btn-link:hover{
color:#fff;
}
.navbar-superior .btn-link[disabled]:focus, 
.navbar-superior .btn-link[disabled]:hover,fieldset[disabled] 
.navbar-superior.btn-link:focus,fieldset[disabled] 
.navbar-superior .btn-link:hover{
color:#444;
}

.mensajeLog >div{
background-color:#ff3333;
}

.barraModulo{
list-style:none;
background-color: rgba(0, 102, 0, 0.9);
color: #006600;
}

/*carrusel 3d*/

.container-jR3DCarouselGallery {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.jR3DCarouselGallery,.jR3DCarouselGallery1 {
  margin: 0 auto; /* optional - if want to center align */
}

.container-jR3DCarouselGallery {
  text-align: center;
}

.wrapper-jR3DCarouselGallery {
  padding-right: 10px;
  padding-left: 10px;
  width: 48%;
  height: 299px;
  float: left;
  overflow: auto;
  border-left: 1px solid #999;
}

.wrapper-jR3DCarouselGallery div {
  margin: 8px auto;
}

/*css para videos youtube*/
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}


.stily-titulo{
  color: #006600;
  font-weight: bold;
  text-decoration: underline;
}

.imgIndexMod{
  max-height: 300px; 
}

/*menu del administrador*/

.espaciado{
  height: 50px;
}

.espacioCol{
width: 100px;
}

.menuAdminletras >li{
padding-left: 5px;
padding-right: 5px;
}

.menuAdminletras >li>a{
  color: #006600;
 background-color: #ffcc00;
}

.siseColDESMOD{
  max-width: 500px;
}

.siseColTITMOD{
  max-width: 200px;
}

.siseColTITMOD2{
  max-width: 150px;
}


.margenGeneral{
  margin-left: 2% !important; 
  margin-right: 2% !important;
}