.navbar-superior{
 background-color: rgba(0, 102, 0, 0.9);
}

.navbar-superior .navbar-nav > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 4px;
  color: #ffcc00;
  font-weight: bold;
  /*color de letras del li del navbar*/
}
.margen-tope-nav{
margin-top: 10px;
margin-bottom: 10px
}
.margen-tope-buscar{
margin-top: 15px;
}
.margenBuscar{
margin-right: 40px;	
}
.margenFecha{
margin-left: 20px;	
}
.margenNoticias{
margin-right: 50px;
margin-left: 80px;
}
.sizeDescripcion{
height: 400px;
width: 120%;
}
.separador{
	margin-right: 2%;
}
#contenido #principal {
  float: left;
  width: 60%;
}
#contenido #secundario {
  float: left;
  width: 30%;
}
#LimpiarLayut {
  clear: both;
}
.logoSize{
height: 10%;
width: 10%;
}
.margenLinea{
margin-left: 3%;
margin-right: 3%;
}
h1.big-bold {
  font-family: 'basic Sans sf', arial, helvetica, sans-serif;
  font-size: 2.1em;
  color: #006600;
    font-weight: bold;
}
.menuAdmin{
margin-left: 1%;
width: 15%;
height: 20%;
 background-color: rgba(0, 102, 0, 0.9);
}


.nav-header > li > a,
.nav-il > li > a {
  color: #fff;
  font-weight: bold;
  /*color de letras del li del navbar*/
}