.navbar-superior{
 background-color: rgba(255, 204, 0, 0.9);
}
.margen-tope-nav{
margin-top: 10px;
margin-bottom: 10px
}
.margen-tope-buscar{
margin-top: 15px;
}
.margenBuscar{
margin-right: 40px;	
}
.margenFecha{
margin-left: 20px;	
}
.margenNoticias{
margin-right: 50px;
margin-left: 80px;
}
.sizeDescripcion{
height: 400px;
width: 120%;
}
.separador{
	margin-right: 2%;
}
#contenido #principal {
  float: left;
  width: 60%;
}
#contenido #secundario {
  float: left;
  width: 30%;
}
#LimpiarLayut {
  clear: both;
}
.logoSize{
height: 10%;
width: 10%;
}
.margenLinea{
margin-left: 3%;
margin-right: 3%;
}

.tituloNoticia{
	
}