/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    margin:0px;
    padding:0px;
    list-style-type:none;   
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}

.jcarouselNAV {
background-color: rgba(0, 102, 0, 0.9);
border-radius: 5px;
border:1px solid #ccc;
}

.jcarouselNAV a{
color:#ffcc00;
font-weight: bold;
}



.jcarouselNAV-left a{
    width: 22px;
    height: 22px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.9;
    left: 10px;
    margin-top: 2px;
    background: url(../imagenes/button-previous.png) no-repeat;
}

.jcarouselNAV-right a{
    width: 22px;
    height: 22px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.9;
    right: 5px;
    margin-top: 2px;
    background: url(../imagenes/button-next.png) no-repeat;
}

.jcarouselNAV a:focus,
.jcarouselNAV a:hover{
color:#fff;
}